<h1>Ajoutez un article</h1>

<form action="/add_post" method="post" enctype="multipart/form-data">
	<label>Titre de l'article</label>
	<input type="text" name="title">
	<label>Contenu de l'article</label>
	<textarea name="content"></textarea>
	<label>Image de l'article</label>
	<input type="file" name="image">
	<select name="category">
		<% for(let i = 0; i < categories.length; i++) { %>
			<option value="<%=categories[i].id%>"><%=categories[i].name%></option>
		<% } %>
	</select>
	<input type="submit" name="Enregistrer">
</form>